/Pertemuan3/Praktek/GameEnvironment/nbproject/private/
/Pertemuan3/Praktek/GameEnvironment/build/
/Pertemuan3/Praktek/GameEnvironment/dist/
/Pertemuan4/Praktek/GameEnvironment/nbproject/private/
/Pertemuan4/Praktek/GameEnvironment/dist/
/Pertemuan4/Praktek/GameEnvironment/build/
