/Pertemuan3/Praktek/GameEnvironment/nbproject/private/
/Pertemuan3/Praktek/GameEnvironment/build/
/Pertemuan3/Praktek/GameEnvironment/dist/
/Pertemuan4/Praktek/GameEnvironment/nbproject/private/
/Pertemuan4/Praktek/GameEnvironment/dist/
/Pertemuan4/Praktek/GameEnvironment/build/
/Pertemuan5/Teori/Teori.java/nbproject/private/
/Pertemuan5/Teori/ArrayList.java/nbproject/private/
/Pertemuan5/Teori/ArrayList.java/build/
/Pertemuan5/Teori/Market/nbproject/private/
/Pertemuan5/Teori/Market/build/
/Pertemuan5/Teori/ArrayList/nbproject/private/
/Pertemuan5/Teori/ArrayList/build/
/Pertemuan5/Praktek/Inheritance/nbproject/private/
/Pertemuan5/Praktek/Inheritance/build/
/Pertemuan5/Praktek/Inheritance/dist/
/Pertemuan6/Teori/nbproject/private/
/Pertemuan6/Teori/build/
/Pertemuan6/Teori/dist/
/Pertemuan6/Praktek/nbproject/private/
/Pertemuan6/Praktek/build/
/Pertemuan6/Praktek/dist/
Pertemuan2/Teori/mobilDemo2.java
/Pertemuan11/Praktek/MenuBeratIdeal/dist/
/Pertemuan11/Teori/CRUD_MVC/build/
